body {
    background-color: rgb(179, 8, 8); /*cor de fundo da pagina*/
    color:rgb(56, 66, 74); /*cor da escrita*/
}

header{
border: solid 2px #191a1f ;
font-size: 32px;
padding: 10px;
color: rgb(62, 159, 194);
}

h1{
    font-size:30px;    /*tamanho da fonte*/
    text-align:center;    /*centralizado*/
    text-transform: uppercase;   /*letras maiúsculas*/
}

p{
font-size:16px;
color:rgb(59, 59, 123) ;
}
