body {
    background-color: rgb(179, 8, 8); /*cor de fundo da pagina*/
    color:rgb(3, 3, 3); /*cor da escrita*/
}

header{
border: solid 2px #0524bd ;
font-size: 32px;
padding: 10px;
color: rgb(5, 6, 7);
}

h1{
    font-size:30px;    /*tamanho da fonte*/
    text-align:center;    /*centralizado*/
    text-transform: uppercase;   /*letras maiúsculas*/
}

p{
font-size:16px;
color:rgb(18, 18, 238) ;
}
